POSTGRES_DB=dartrack
POSTGRES_USER=dartrack
POSTGRES_PASSWORD=dartrack
POSTGRES_PORT=5432
DB_URL=jdbc:postgresql://localhost:5432/dartrack
DB_USERNAME=dartrack
DB_PASSWORD=dartrack
SERVER_PORT=8080
APP_STORAGE_PATH=./storage