POSTGRES_DB=dartrack
POSTGRES_USER=dartrack
POSTGRES_PASSWORD=dartrack
POSTGRES_PORT=5433
PGADMIN_DEFAULT_EMAIL=admin@dartrack.com
PGADMIN_DEFAULT_PASSWORD=dartrack
PGADMIN_PORT=5051
DB_URL=jdbc:postgresql://localhost:5433/dartrack
DB_USERNAME=dartrack
DB_PASSWORD=dartrack
SERVER_PORT=8080
APP_STORAGE_PATH=./storage
